body{
    font-size: 18px;
}
section{
    margin: 80px 0;
}
.discount{
    display: inline-block;
    position: sticky;
    right: 0;
    top: 50vh;
    padding: 5px;
    border-left: 7px solid rgb(95, 197, 237);
    box-shadow: 5px 5px 10px gainsboro;
}
ul{
    list-style-type: none;
}
.plan{
    display: block;
    background-color: rgba(255, 192, 203, 0.531);
    padding: 5px 30px;
}
#plus{
    position: relative;
    margin-top: -50px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(95, 197, 237);
    color: white;
    border: 0;
    border-radius: 20px;
    box-shadow: 5px 30px 15px rgba(135, 207, 235, 0.375);
}
#plus span{
    top: -10px;
    left: 240px;
}
.custom-border{
    top: 200px;
    border-left: 7px solid rgba(0, 106, 255, 0.647);
}
.packages{
    margin-bottom: 120px;
}